{{#each this}}
  <div class="country">
    <div class="country__container">
      <h1 class="country_title">{{name}}</h1>
      <div class="country_info">
        <div class="country__metrics">
          <p class="country__capital"><strong>Capital:</strong> {{capital}}</p>
          <p class="country__population"><strong>Population:</strong>
            {{population}}</p>
          <div class="country__languages--container">
            <p class="country__languages--title"><strong>Languages:</strong></p>
            <ul class="country__languages">
              {{#each languages}}
                <li class="country__language">{{name}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="country__flag">
          <img
            class="country_flag--image"
            src="{{flag}}"
            alt="{{alpha2Code}}"
          />
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{! alpha2Code: "IT"
alpha3Code: "ITA"
altSpellings: (3) ['IT', 'Italian Republic', 'Repubblica italiana']
area: 301336
borders: (6) ['AUT', 'FRA', 'SMR', 'SVN', 'CHE', 'VAT']
callingCodes: ['39']
capital: "Rome"
cioc: "ITA"
currencies: [{…}]
demonym: "Italian"
flag: "https://flagcdn.com/it.svg"
flags: {svg: 'https://flagcdn.com/it.svg', png: 'https://flagcdn.com/w320/it.png'}
gini: 36
independent: true
languages: [{…}]
latlng: (2) [42.83333333, 12.83333333]
name: "Italy"
nativeName: "Italia"
numericCode: "380"
population: 59554023
region: "Europe"
regionalBlocs: [{…}]
subregion: "Southern Europe"
timezones: ['UTC+01:00']
topLevelDomain: ['.it']
translations: {br: 'Itália', pt: 'Itália', nl: 'Italië', hr: 'Italija', fa: 'ایتالیا', …}
[[Prototype]]: Object
length: 1
[[Prototype]]: Array(0) }}